@inject HttpClient Http
@inject NavigationManager NavigationManager;

@rendermode InteractiveServer

@attribute [StreamRendering]

<h3>Developers Child Component (Client)</h3>

This child component is <strong>Auto Rendered</strong>.

<h1>CHR Developers</h1>

<p><a href="add-developer?uri=@BackUrl" class="btn btn-success">Add Developer</a></p>

<DeleteDeveloperModal OnSuccessfulDeletion="SuccessfulDeletion" @ref="deleteDeveloperDialog" />

@if(developers is null)
{
    <h3>Loading...</h3>
}
else
{
    <Alert AlertType="@AlertType" AlertMessage="@AlertMessage"/>

    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Title</th>
                <th>City</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var developer in developers)
            {
                <tr>
                    <td>@developer.FirstName</td>
                    <td>@developer.LastName</td>
                    <td>@developer.Title</td>
                    <td>@developer.City</td>
                    <td>
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="btn btn-warning" aria-current="page" href="update-developer">Update</a>
                            </li>
                            &nbsp;
                            <li class="nav-item">
                                <a class="btn btn-danger" @onclick="(() => { if (deleteDeveloperDialog is not null )
                                {
                                    deleteDeveloperDialog.DeveloperDeleteModal(developer);

                                   }  })" >Delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code{

    [Parameter]
    public string? BackUrl { get; set; }

    List<DeveloperModel>? developers = null;

    DeveloperModel developer = new();

    public bool IsSuccess { get; set; }

    public AlertTypeEnum AlertType { get; set; }

    public string? AlertMessage { get; set; }

    protected async Task SuccessfulDeletion()
    {
        await Task.Run(() => { IsSuccess = true; });

        AlertType = AlertTypeEnum.info;
        AlertMessage = "State has changed?";
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        developers = await Http.GetFromJsonAsync<List<DeveloperModel>>("/developers");

        BackUrl = NavigationManager.Uri.ToString();
    }

    private DeleteDeveloperModal? deleteDeveloperDialog;
}
